html {
  scroll-behavior: smooth;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home__page {
  background-color: black;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  margin-top: 15vh;
  max-width: 1366px;
  padding-top: 15vh;
  width: 100vw;
  z-index: 1;
}

.about__page {
  align-content: center;
  background-color: #191919;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1366px;
  padding-top: 25vh;
  width: 100%;

}

.portfolio__page {
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 0.5vh;
  max-width: 1366px;
  padding-top: 10vh;
  width: 100vw;

}

.selected {
  border-bottom: solid 5px #f9004d;
  color: #f9004d;
}

.selected2 {
  border-bottom: solid 5px #f9004d;
  color: #f9004d;
  transition: all 1s;
}

.contact__page {
  color: white;
}

.scrollDown {
  align-items: center;
  animation: scroll infinite linear 1s;
  height: 20vh;
  justify-content: center;
  margin-top: 2vh;
  opacity: 0;
  transform: translateY(-60px);
  width: 100%;
}

.scrollDown svg {
  color: #f9004d;
  font-size: 5rem;
}

.scrollDown2 {
  align-items: center;
  animation: scroll infinite linear 1s;
  height: 20vh;
  justify-content: center;
  margin-top: 2vh;
  opacity: 0;
  width: 100%;
}

.scrollDown2 svg {
  color: gray;
  font-size: 5rem;
}

@keyframes scroll {

  to {
    opacity: 1;
    transform: translateY(50px);
  }

}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  zoom: 80%;
}

@media screen and ( max-width : 600px ) and ( max-height : 896px ) {

  .app__header {
    padding: 0;
    zoom: 70%;
  }

  #card {
    width: 80%;


  }

}

