.home {
  justify-content: center;


}

.home span {
  font-size: 25px;
}

.home h1 {
  font-size: 60px;
}

.home div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0 auto;
}

.currentTitle1 {
  color: #f9004d;
  height: 20vh;
  opacity: 0;
}

.currentTitle2 {
  animation: slide linear 4s;
}

@keyframes slide {

  0% { opacity: 0;}

  50% { opacity: 1;}

  75% { opacity: 1;}
}
